.message-item-container{
  display: flex;
  .avatar-container{
    align-self: flex-end;
    margin-bottom: 8px;
  }
}


.text-msg-container{
  background-color:greenyellow ;
  font-size: 14px;
  font-weight: 500;
  word-break: break-word;
  min-height: fit-content;
  padding: 10px 10px;
  border-radius: 8px;
  margin: 5px;
}

.message-item-sended{
  flex-direction: row-reverse;
}
.message-item-recieved{
  flex-direction: row;
  .text-msg-container{
    background-color: black ;
    color: white;
  }
}

.system-msg-container{
  max-width: 400px;
  background-color: yellowgreen;
  margin: 10px auto;
  padding: 10px;
  border-left: 5px solid green;
  font-weight: 600;
  font-size: 24px;
  color:gray;
}

.photo-msg-container{
  margin: 10px;
  border: 0.5px solid black;
  img{
    height: 120px;
    width: 180px;
  }
  :hover{
    transform: scale(1.1);
  }

}